//
//  Config.xcconfig.sample
//  GamesLibrary
//
//  Created by Daniel Illescas Romero on 7/5/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


// THIS IS A SAMPLE FILE!
// Duplicate this file, remove ".sample" and replace with your api key

API_KEY = your api key here without quotes
